{%extends 'base.html'%}

{%block content%}

<div class="center">
    <style>
        table {
          width: 500px;
        }
        h2{
            margin: 20px;
        }
    </style>
	<div>
        <h2>Lista de especialidades</h2>
    </div>
	{% if especialidad %}
    <ul class="especialidad">
        {% for especialidades in especialidad %}
        
                <table>
                    <thead>
                        <tr>
                            <th style="width: 100%;">Nombre</th>
                            <th style="width: 100%;">Opciones</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <a href="#" class="{% if especialidades.completed%}completed{%endif%}">{{ especialidades.nombre }}</a>
                        </td>
                        <td>
                            <a href="{%url "especialidad-delete" especialidades.id %}"><i class="bi bi-trash"></i> </a>
                            <a href="{%url "especialidad-update" especialidades.id %}"><i class="bi bi-pencil-square"></i></a>
                        </td>
                    </tr>
                    <hr>
                </table>
        {% endfor %}
    {% else %}
        <p>¡no tienes registros!</p>
    {% endif %}
	</ul>
</div>
{%endblock content%}